<div id="<%= dom_id movie_theater %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_theater.movie_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= movie_theater.region_id %>
  </p>

</div>
