<div class="container-create-backlogin">
  <div class="container-back-the-login-link">
    <%= render "devise/shared/links" %>
  </div>
  <div class="container-button">
    <%= render "devise/shared/button_submit", f: f, text: 'CONTINUAR' %>
  </div>
</div>