<div class="form-check container-check">
  <input class="form-check-input input-checkbox" type="checkbox" id="invalidCheck" required>
  <label class="form-check-label label-receive-news" for="invalidCheck">
    Quero receber novidades e mensagens da Ingresso.com.
  </label>
</div>
<div class="container-main-recaptcha-and-spans">
  <div class="container-span-regulated-use-site">
    <span>O uso de nosso site e aplicativo é regulado por nossos <a class="span-color-blue-highlight">Termos de Uso.</a> Maiores informações sobre como usamos seus dados pessoais podem ser encontradas em nossa <a class="span-color-blue-highlight">Política de Privacidade</a> e <a class="span-color-blue-highlight">Política de Cookies.</a></span>
  </div>
  <div class="container-span-delete-account">
    <span>Deseja excluir sua conta? Siga os <a class="span-color-blue-highlight">passos a seguir.</a></span>
  </div>
  <div class="container-reCAPTCHA">
    <span>Este site é protegido pelo reCAPTCHA e pelo Google aplicando as seguintes <a class="span-color-blue-highlight">Políticas de Segurança</a> e <a class="span-color-blue-highlight">Termos de Serviço.</a></span>
    <div 
      class="g-recaptcha"
      data-sitekey="6LfA6AUpAAAAAKuDPHeFgdUSz_dVtzPRrCTkPSbl"
      data-callback="recaptchaCallbackChangePassword">
    </div>
  </div>
</div>