<h1>Editing additional food movie</h1>

<%= render "form", additional_food_movie: @additional_food_movie %>

<br>

<div>
  <%= link_to "Show this additional food movie", @additional_food_movie %> |
  <%= link_to "Back to additional food movies", additional_food_movies_path %>
</div>
