<div class="container-banner-movie-and-chose-movie-theater">
  <div class="container-movie-banner-and-more-info">
    <div class="container-banner-background">
      <%= image_tag @movie.image_background, class: "movie-banner-background-chose-movie-theater", alt: @movie.title %>
      <div class="container-banner-info-movie">
        <%= render 'chose_movie_theater_partial/banner_main' %>
        <%= render 'chose_movie_theater_partial/info_movie' %>
      </div>
    </div>
  </div>
  <div class="container-chose-movie-theater">
    <ul class="ul-chose-sessions-aboutthefilm">
      <li class="li-chose-sessions">Sessões</li>
      <li class="li-chose-aboutthefilm">Sobre o filme</li>
    </ul>
    <div class="container-date-for-watch-film" id="container-date-for-watch-film-id">
      <%# <div class="container-date-chose-movie-theater">
        <span class="span-day-month"></span>
        <span class="span-name-day"></span>
      </div> %>
    </div>
  </div>
</div>