<div class="container-main-create-new-count">
  <div class="container-create-new-count" >
    <h1>Criar nova conta</h1>
    <span>Vantagens de ser um cliente Ingresso.com</span>
    <div class="container-svgs">
      <div class="container-save-card">
        <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img"><path d="M8.5 11.197v9.577c0 .36.276.643.623.643H22.83a.632.632 0 0 0 .623-.643v-9.577a.629.629 0 0 0-.623-.643H9.123a.632.632 0 0 0-.623.643zM7 11c0-1.104.86-2 1.927-2h14.146C24.137 9 25 9.888 25 11v10c0 1.104-.86 2-1.927 2H8.927C7.863 23 7 22.112 7 21V11zm.75 1.885h16.494v2.428H7.75v-2.428zm2.249 4.638c0-.416.344-.753.757-.753h1.485c.418 0 .757.333.757.753v1.603a.758.758 0 0 1-.757.752h-1.485a.752.752 0 0 1-.757-.752v-1.603z"></path></svg>
        <span>Salvar Cartões</span>
      </div>
      <div class="container-save-card">
        <svg width="30" height="30" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg" role="img"><path d="M10.775 24.309c.19.329.606.446.926.261l9.93-5.733.692 1.197-9.931 5.734c-.964.557-2.213.206-2.785-.785l-.719-1.245s1.564-1.382.415-3.371c-1.149-1.99-2.97-1.054-2.97-1.054l-.877-1.52c-.572-.99-.252-2.245.714-2.802l9.93-5.734.692 1.197-9.931 5.734a.678.678 0 0 0-.237.93l.354.613c.132-.01.27-.015.413-.011 1.218.03 2.329.672 3.08 1.972.73 1.264.776 2.538.308 3.663-.078.188-.165.36-.256.517l.252.437ZM21.225 8.69a.681.681 0 0 0-.926-.261l-9.93 5.733-.692-1.197 9.931-5.734c.964-.557 2.213-.206 2.785.785l.719 1.245s-1.564 1.382-.415 3.371c1.149 1.99 2.97 1.054 2.97 1.054l.877 1.52c.572.99.252 2.245-.714 2.802l-9.93 5.734-.692-1.197 9.931-5.734a.678.678 0 0 0 .237-.93l-.354-.613c-.132.01-.27.015-.413.011-1.218-.03-2.329-.672-3.08-1.972-.73-1.264-.776-2.538-.308-3.663.078-.188.165-.36.256-.517l-.252-.437Z"></path></svg>
        <span>Comprar rápido</span>
      </div>
      <div class="container-save-card">
        <svg width="32" height="33" xmlns="http://www.w3.org/2000/svg" role="img"><path d="M19.146 8.945h.1c2.943 0 5.336 2.555 5.376 5.67.007.6-.074 1.188-.226 1.693-.292 1.476-1.971 3.394-5.014 5.886-1.165.96-2.113 1.674-2.827 2.127a1.33 1.33 0 0 1-1.488-.05l-.216-.152c-.638-.443-1.052-.734-1.54-1.085l-.162-.118a36.621 36.621 0 0 1-.864-.644c-3.202-2.493-4.842-4.285-5.174-5.75a5.72 5.72 0 0 1-.266-1.685c-.02-1.596.582-3.137 1.661-4.234.99-1.006 2.297-1.568 3.679-1.574 1.302 0 2.523.447 3.49 1.268a5.268 5.268 0 0 1 3.471-1.352Zm-2.651 2.934-.784.91-.63-.692-.178-.195a3.465 3.465 0 0 0-2.593-1.143c-.882.004-1.719.37-2.365 1.04-.725.753-1.138 1.831-1.125 2.954.005.411.068.822.194 1.222.225 1.001 1.624 2.56 4.414 4.774a33.853 33.853 0 0 0 .944.715c.46.338.855.62 1.464 1.052.616-.398 1.405-1.011 2.36-1.814 2.641-2.205 4.085-3.887 4.282-4.885.118-.41.173-.82.169-1.24-.027-2.163-1.624-3.901-3.515-3.901h-.082a3.402 3.402 0 0 0-2.555 1.203Z" fill-rule="nonzero"></path></svg>
        <span>Favoritar cinemas</span>
      </div>
      <div class="container-save-card">
        <svg width="30" height="31" viewBox="0 0 32 33" xmlns="http://www.w3.org/2000/svg" role="img"><path d="M11.615 23.983c0 .44.35.796.786.796h.052c.044-.108.092-.217.146-.328.624-1.271 1.778-2.1 3.374-2.1 1.547 0 2.715.77 3.45 1.967.093.152.175.302.248.45a.795.795 0 0 0 .66-.785V11.97h-8.716v12.013ZM10.04 10.369h11.865v13.614c0 1.321-1.057 2.397-2.36 2.397h-.986s-.396-2.427-2.586-2.427-2.286 2.427-2.286 2.427H12.4c-1.306 0-2.36-1.073-2.36-2.397V10.369ZM8.46 13.57l-.922-.015c-1.153-.006-2.204-1.086-2.204-2.413V9.569c0-1.32 1.059-2.402 2.364-2.402h16.508c1.31 0 2.364 1.075 2.364 2.402v1.574c0 1.32-.983 2.407-2.195 2.413l-.962.015-.025-1.6.98-.016c.316-.002.627-.345.627-.812V9.569a.792.792 0 0 0-.789-.801H7.697a.8.8 0 0 0-.789.801v1.574c0 .44.346.81.655.812l.922.015-.026 1.601Z" fill-rule="nonzero" stroke-width="0.5"></path></svg>
        <span>Retirar pelo App</span>
      </div>
    </div>
  </div>
  <a href="#" class="link-create-new-count">CRIAR UMA NOVA CONTA</a>
</div>