.container-create-backlogin {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 60px;
  margin-top: 30px;
  gap: 10px;
}

.container-back-the-login-link {
  height: 26px;

  >a {
    /* padding: 10px; */
    padding: 13px 25px;
    background-color: white;
    border: 1px solid #058af3;
  }

  :hover {
    background-color: #0076d3;

    color: white;
  }
}

.container-button {
  background-color: rgb(215 215 215);
  width: 120px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  >input {
    color: white;
    pointer-events: none;
  }
}

.button-continue {
  padding: 0px !important;
}