<div class="container-main-header-section" >
  <%# <header class="header-custom"></header> %>
  <div class="container-linear-left"></div>
  <div class="container-main-highlight">
    <div class="container-img-highlight">
      <%= image_tag @movie_highlight.image_background, class: "movie-image", alt: @movie_highlight.title %>
    </div>
  </div>
  <div class="container-linear-right"></div>
</header>
<section class="py-5 section-custom">
  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 class="h1-custom" >Em Alta</h1>
        <div class="ms-2 me-2 carousel-custom">
          <% @movies.each do |movie| %>
            <div class="col-custom">
              <div class="card card-movie">
                <%= image_tag movie.image_main, class: "movie-image", alt: movie.title %>
              </div>
              <div class="custom-card-body">
                <h2><%= movie.title %></h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container-arrow-left" >
    <i class="fa-solid fa-angle-left i-arrow-custom-left"></i>
    <span class="visually-hidden">Previous</span>
  </div>
  <div class="container-arrow-right" >
    <i class="fa-solid fa-angle-right i-arrow-custom-right"></i>
    <span class="visually-hidden">Next</span>
  </div>
</section>
</div>