<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Sua loja virtual preferida</h1>
      <p class="lead fw-normal text-white-50 mb-0">Aqui vai ser o slogan</p>
    </div>
  </div>
</header>
<section class="py-5">
  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <% @movies.each_slice(6).with_index do |movies_chunk, chunk_index| %>
        <div class="carousel-item <%= chunk_index.zero? ? 'active' : '' %>">
          <div class="row ms-2 me-2">
            <% movies_chunk.each do |movie| %>
              <div class="col-md-2">
                <div class="card">
                  <%= image_tag movie.image_main, class: "card-img-top", alt: movie.title %>
                </div>
                <div class="custom-card-body">
                  <h5><%= movie.title %></h5>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev hide-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon custom-button" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon custom-button" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
