<h1>Editing cinema movie</h1>

<%= render "form", cinema_movie: @cinema_movie %>

<br>

<div>
  <%= link_to "Show this cinema movie", @cinema_movie %> |
  <%= link_to "Back to cinema movies", cinema_movies_path %>
</div>
