<div class="card shadow mb-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Título: <%= movie.title %></h5>
      <p class="card-text">Descrição: <%= movie.description %></p>
    </div>
    <div class="col-md-2">
      <%# <img src="https://res.cloudinary.com/dyqsqg7pk/image/upload/v1709573390/lbdtdhqjudc0fkhyy5v5.webp" class="img-fluid" alt="..."> %>
      <%# cl_image_tag(movie.img_main.key, width: 700, height: 300, crop: :scale) %>
      <%= image_tag movie.image_main, class: "img-fluid" %>
    </div>
    <div class="col-md-10">
      <%# image_tag movie.images.variant(:img_background), class: "img-fluid esticado" %>
      <%= image_tag movie.image_background, class: "img-fluid" %>
    </div>
  </div>
</div>