<div class="container-caption-info">
  <span class="span-caption">Legenda</span>
  <div class="container-all-caption">
    <div class="container-circle-span-main">
      <div class="container-available"></div>
      <span>Disponível</span>
    </div>
    <div class="container-circle-span-main">
      <div class="container-selected"></div>
      <span>Selecionado</span>
    </div>
    <div class="container-circle-span-main">
      <div class="container-busy">
        <%= render "chose_seats_and_more_svg_partial/svg_body_user_caption" %>
      </div>
      <span>Ocupado</span>
    </div>
    <div class="container-circle-span-main">
      <div class="container-blocked">
        <%= render "chose_seats_and_more_svg_partial/svg_blocked" %>
      </div>
      <span>Bloqueado</span>
    </div>
    <div class="container-circle-span-main">
      <div class="container-wheelchair">
        <%= render "chose_seats_and_more_svg_partial/svg_wheelchair" %>
      </div>
      <span>Cadeirante</span>
    </div>
    <div class="container-circle-span-main">
      <div class="container-flirt">
        <%= render "chose_seats_and_more_svg_partial/svg_flirt" %>
      </div>
      <span>Namoradeira</span>
    </div>
  </div>
</div>