<div class="container-clube-uol-to-payment">
  <span class="span-clube-uol-1">Assinante UOL tem 2 ingressos por mês sem taxa de serviço. <span class="span-clube-uol-learn-more">Saiba mais</span></span>
  <div class="container-subscriber-uol">
    <span><span class="span-clube-uol-is-subscriber">É assinante UOL?</span> Digite seu CPF ou CNPJ para consultar e aplicar o seu benefício. Caso esteja disponível, a isenção da taxa será automaticamente aplicada no valor de sua compra.</span>
    <div class="container-input-cpf-cnpj-button-apply">
      <input type="text" placeholder="Digite o CPF ou CNPJ" class="input-cpf-cnpj">
      <button class="button-apply-clube-uol">APLICAR</button>
    </div>
    <div class="container-svg-warning-span-cpf-or-cnpj-clube-uol">
      <%= render "chose_seats_and_more_svg_partial/svg_exclamation_mark_for_warning_cpf_cnpj" %>
      <span class="span-cpf-or-cnpj-invalid-clube-uol">CPF ou CNPJ inválido.</span>
    </div>
  </div>
</div>