 <% if user_signed_in? %>
  <span class="span-name-user-logged-chose-seats">Olá, <%= current_user.name %></span>
<% else %>
  <div class="container-login-logout-chose-seats-and-more-partial">
    <span>Olá, visitante</span>
  </div>
<% end %>