<h1>Editing additional info user</h1>

<%= render "form", additional_info_user: @additional_info_user %>

<br>

<div>
  <%= link_to "Show this additional info user", @additional_info_user %> |
  <%= link_to "Back to additional info users", additional_info_users_path %>
</div>
