@import 'devise/style.css';
@import 'devise/ingresso_top.css';
@import 'devise/footer_address.css';
@import 'devise/new.css';
@import 'devise/button_submit.css';
@import 'devise/create_new_count.css';
@import 'devise/registration_new.css';
@import 'partial_registrations.scss';

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.container-ingresso-top-yield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-top-footer {
  display: flex;
  flex-direction: column;
}