@import 'devise/style.css';
@import 'devise/ingresso_top.css';
@import 'devise/footer_address.css';
@import 'devise/new.css';
@import 'devise/button_submit.css';

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.container-top-footer {
  display: flex;
  flex-direction: column;
}

.container-login-create {
  // width: 10rem !important;
  max-width: 100% !important;
}

.container-login-create {
  gap: 50px;
  width: 42rem !important;
  height: 100%;
  padding: 5px 5px !important;
}