.container-movie-banner-and-more-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(5, 18, 24);
  /* width: 90rem; */
}

.container-banner-background::before {
  /* background-image: linear-gradient(to right, rgb(5, 18, 24), rgb(0 0 0 / 31%) 80%, rgb(0 0 0 / 0%) 100%); */
  /* Adicione largura e altura para tornar o pseudo-elemento visível */
  content: "";
  background-image: linear-gradient(to right, rgb(5, 18, 24), rgb(0 0 0 / 0%) 80%, rgb(0 0 0 / 2%) 100%);
  position: absolute;
  left: 0;
  top: 0;
  /* width: 700px; */
  width: 100%;
  height: 100%;
}

.container-banner-background {
  width: 75rem;
  height: 260px;
  position: relative;
}

@media (max-width: 1455px) {
  .container-banner-background {
    width: 70%;
    height: 260px;
  }
}

/* @media (max-width: 1275px) {
  .container-banner-background::after {
    width: 600px !important;
  }
}

@media (max-width: 1100px) {
  .container-banner-background::after {
    width: 400px !important;
  }
} */

.container-banner-background::after {
  content: "";
  background-image: linear-gradient(to left, rgb(5, 18, 24), rgb(0 0 0 / 43%) 80%, rgb(0 0 0 / 2%) 100%);
  position: absolute;
  right: 0;
  top: 0;
  /* width: 800px; */
  width: 100%;
  height: 100%;
}

.movie-banner-background-chose-movie-theater {
  width: 100%;
  height: 100%;
}

.container-banner-info-movie {
  display: flex;
  gap: 40px;
  position: absolute;
  left: -85px;
  top: 25px;
  z-index: 10;
}

/* .container-banner-main-chose-movie-theater {
  width: 205px;
  height: 300px;
} */

@media (max-width: 1455px) {
  .container-banner-info-movie {
    left: -175px;
  }
}

@media (max-width: 1275px) {
  .container-banner-info-movie {
    left: -145px;
  }
}

@media (max-width: 1100px) {
  .container-banner-info-movie {
    left: -125px;
  }
}

.container-chose-movie-theater {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 120px;
}

.ul-chose-sessions-aboutthefilm {
  display: flex;
  width: 90%;
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: 25px !important;

  >li {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-bottom: 13px;
  }
}

.li-chose-sessions {
  color: #fff;
  border-bottom: 3px solid rgb(50 85 226);
  font-weight: 500;
  font-size: 21px;
}

.li-chose-aboutthefilm {
  color: rgb(173 182 194);
  border-bottom: 2px solid rgb(80 98 122);
  font-size: 19px;
}

.container-date-for-watch-film {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  gap: 10px;
  background: #343c46;
  padding: 10px 0px;
  border-radius: 5px;
}

.container-date-chose-movie-theater-today {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 17px;
  color: #fff;
  font-weight: 700;
  width: 15%;
  cursor: pointer;
}

.container-date-chose-movie-theater {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  color: #adb6c2;
  font-weight: 600;
  width: 15%;
  cursor: pointer;
}

.container-category-main-chose-movie-theater {
  width: 90% !important;
}

.container-category-movie-chose-movie-theater {
  gap: 10px;
  display: flex;
  overflow-x: auto !important;
  white-space: nowrap;
  scroll-behavior: smooth;
  margin-top: 20px;
  padding-bottom: 15px;
}

.container-category-movie-chose-movie-theater::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background: #666666;
  border-radius: 5px;

}

.container-category-movie-chose-movie-theater::-webkit-scrollbar-thumb {
  background-color: #252525;
  /* Altere para a cor desejada */
  border-radius: 5px;
}

.container-category-name {
  border: 2px solid #98aaec;
  border-radius: 50px;
  color: #98aaec;
  width: 210px;
  padding: 3px 25px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}

.container-category-name:hover {
  color: #8190c8;
  border-color: #8190c8;
}

.container-other-cinemas-chose-movie-theater {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 90%;
  gap: 10px;
  margin: 20px 0px;
}

.span-other-cinemas {
  font-size: 14px;
  color: #999999;
  width: 7rem;
}

.container-line-chose-movie-theater {
  /* border: 1px solid red; */
  background: #999999;
  width: 92%;
  height: 2px;
  margin-top: 3px;
}

.container-location-movie-theater-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}

.container-location-movie-theater {
  background: rgb(33 38 45);
  padding: 15px 20px;
  border-radius: 15px;
}

.container-top-location-movie-theater {
  display: flex;
  justify-content: space-between;
}

.container-svg-heart-info-location-movie {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-namecinema-district {}

.p-name-cinema {
  color: #fff;
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 700;
}

.span-district {
  font-size: 15px;
  color: rgb(153 153 153);
}

.svg-heart {
  >svg {
    width: 35px;
    fill: rgb(122 137 188);
  }
}

.container-seats-price-details {
  display: flex;
  gap: 10px;
  color: #fff;
}

.container-seats,
.container-price,
.container-details {
  display: flex;
  align-items: center;
  height: 50%;
  gap: 5px;

  >svg {
    width: 25px;
    fill: rgb(122 137 188);
  }
}

.container-line-between-svgs-schedule {
  border: 1px solid rgb(122 137 188 / 18%);
}

.container-schedule-movie-theater {
  color: #fff;
  margin-top: 20px;
}

.container-span-vip-dublado {
  display: flex;
  gap: 10px;

  >span {
    color: #fff;
    background: rgb(50 85 226);
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 13px;
    font-weight: 600;
  }
}

.container-svg-ticket {
  border: 2px solid rgb(152 170 236);
  border-radius: 10px;
  width: 17%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  position: relative;
  color: rgb(149 164 218);
  transition: top 0.1s ease;
}

.container-svg-ticket:hover {
  border-color: rgb(107 130 218);
}

.container-svg-ticket:hover::after {
  border-left-color: rgb(107 130 218);
  border-top-color: rgb(107 130 218);
  border-bottom-color: rgb(107 130 218);
}

.container-svg-ticket:hover::before {
  border-right-color: rgb(107 130 218);
  border-top-color: rgb(107 130 218);
  border-bottom-color: rgb(107 130 218);
}

.container-svg-ticket::before {
  content: "";
  width: 7px;
  height: 14px;
  border: 2px solid rgb(152 170 236);
  border-left: 1px solid transparent;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(33 38 45);
  position: absolute;
  left: -2px;
}

.container-svg-ticket::after {
  content: "";
  width: 7px;
  height: 14px;
  border: 2px solid rgb(152 170 236);
  border-right: 1px solid transparent;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: rgb(33 38 45);
  position: absolute;
  right: -2px;
}

.span-movie-times {
  position: absolute;
  left: 53px;
  top: 5px;
  transition: top 0.1s ease;

}

.span-comprar {
  position: absolute;
  left: 42px;
  top: -8px;
  /* 5px */
  display: none;
  transition: top 0.1s ease;
}

.container-telasgigantesplg-dublado {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.container-span-telasgigantesplf-dublado {
  display: flex;
  gap: 10px;
  white-space: nowrap;

  >span {
    color: #fff;
    background: rgb(50 85 226);
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 13px;
    font-weight: 600;
    height: 24px;
  }
}

.container-p-schedule-all {
  display: flex;
  gap: 10px;
}