<footer class="footer">
  <address class="address-footer">Ingresso.com Ltda / CNPJ: 008606400001-71 / Endereço: Rua da Quitanda, 86 - 9º andar - Centro - Rio de Janeiro, RJ - 20091-902 / Atendimento ao cliente</address>
  <p>© Copyright Ingresso.com - Todos os direitos reservados ®</p>
</footer>