.container-body-chose-seats-and-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: relative; */
}

.container-seats-type-tickets-bomboniere-payment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  position: relative;
  padding-top: 25px;
  padding-bottom: 10px;
}

.div-svg-seats-type-tickets-bomboniere-payment {
  display: flex;
  border: 1px solid rgb(130 147 204);
  /* border: 1px solid rgb(49, 85, 232); */
  border-radius: 50%;
  padding: 3px;
  /* background: rgb(49, 85, 232); */

  >svg {
    fill: rgb(152, 170, 236);
    width: 19px;
    /* fill: #fff; */
  }
}

.div-svg-chose-of-seats {
  display: flex;
  border: 1px solid rgb(49, 85, 232);
  border-radius: 50%;
  padding: 3px;
  background: rgb(49, 85, 232);
  cursor: pointer;

  >svg {
    width: 19px;
    fill: #fff;
  }
}

.div-svg-tickets,
.div-svg-bomboniere,
.div-svg-payment {
  display: flex;
  border: 1px solid rgb(52, 60, 70);
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  /* background: rgb(52, 60, 70); */

  >svg {
    width: 19px;
    fill: rgb(52, 60, 70);
  }
}

.span-chose-ofseats,
.span-types-tickets,
.span-bomboniere {
  font-size: 12px;
  color: rgb(173, 182, 194);
  position: absolute;
  top: 58px;
}

.span-chose-ofseats {
  left: -48px;
}

.span-types-tickets {
  left: 134px;
}

.span-bomboniere {
  left: 332px;
}

.line-white-seats-type-tickets-bomboniere-payment {
  background: rgb(152, 170, 236);
  width: 100%;
  height: 1px;
}

.line-white-1,
.line-white-2,
.line-white-3 {
  background: rgb(52, 60, 70);
  width: 100%;
  height: 1px;
}

.container-chose-seat-number-resume-order-main {
  width: 100%;
  height: 64rem;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 30px 40px;
}

@media (max-width: 1025px) {
  .container-chose-seat-number-resume-order-main {
    padding: 30px 10px;
  }
}

.container-chose-seat-number {
  /* width: 80%; */
  width: 59rem;
}

@media (max-width: 1400px) {
  .container-chose-seat-number {
    width: 66rem;
  }
}

@media (max-width: 1155px) {
  .container-chose-seat-number {
    width: 58rem;
  }

  .container-zoomin-zoomout {
    right: 80px;
  }
}

@media (max-width: 1025px) {
  .container-chose-seat-number {
    width: 58rem;
  }

  .container-zoomin-zoomout {
    display: none !important;
  }
}


.container-location-date-hour-movie {
  color: #fff;
  background: rgb(52, 60, 70);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
  padding: 7px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 1400px) {
  .container-location-date-hour-movie {
    width: 66rem;
    justify-content: flex-start;
    background: rgb(33 38 45);
    border-bottom: 1px solid rgb(113, 113, 122);
  }
}

@media (max-width: 1155px) {
  .container-location-date-hour-movie {
    width: 58rem;
  }
}

.container-svg-name,
.container-svg-time-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  >svg {
    fill: #fff;
  }
}

.container-svg-name {
  >svg {
    width: 24px;
  }
}

.span-location-chose-seats-and-more {
  font-size: 14px;
}

.container-svg-time-name {
  >svg {
    width: 20px;
  }
}

@media (max-width: 1400px) {

  .container-svg-name,
  .container-svg-time-name,
  .container-svg-time-name {
    display: none !important;
  }
}

.container-name-movie-location-hour-date {
  width: 100%;
  padding: 5px 15px;
}

@media (min-width: 1400px) {

  .container-name-movie-location-hour-date {
    display: none !important;
  }
}

.container-seats-chose-seats-and-more-main {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-left: 40px;
  gap: 10px;
  height: 40rem;
  background: rgb(33 38 45);

  position: relative;
  z-index: 10;
}

@media (max-width: 1025px) {
  .container-seats-chose-seats-and-more-main {
    padding-left: 0px;
    align-items: center;

  }
}

.container-letter-ofthe-seats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.span-letter-seats {
  color: #fff;
  font-size: 12px;
}

.container-seats-chose-seats-and-more-1 {
  width: 84%;
  height: 92%;
  user-select: none;
  overflow: hidden !important;
}

.container-seats-chose-seats-and-more-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  height: 100%;
  width: 100%;
  transform: translate(0px, 0px) scale(1);
}

.container-span-number-chose-seats-and-more-main {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-span-number-chose-seats-and-more {
  background: rgb(152 170 236);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7px;
  font-weight: 700;
  color: black;

  transition: 0.2s;

}

.span-letter {
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  padding-right: 40px;
}

.span-letter-right {
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  margin-left: 30px;
}

.container-screen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(173 182 194);
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid #fff;
}

.container-screen::after {
  content: "";
  position: absolute;
  right: 0px;
  border-left: 0.7em solid transparent;

  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 18px solid rgb(33, 38, 45);
}

.container-screen::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 18px solid rgb(33, 38, 45);
  left: 0px;
  border-right: 0.7em solid transparent;
}

.span-screen {
  color: rgb(33, 38, 50);
  font-size: 12px;
  font-weight: 700;
}

.container-show-number-seats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
  gap: 10px;
  width: 84%;
}

.span-show-number-seats {
  color: #a7a7a7;
  font-size: 14px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  background-color: gray;
  border-radius: 25px;
  transition: 0.4s;
}

.toggle-label::before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-checkbox:checked+.toggle-label {
  background-color: green;
}

.toggle-checkbox:checked+.toggle-label::before {
  transform: translateX(25px);
}

.container-zoomin-zoomout {
  position: absolute;
  right: 100px;
  top: 200px;
  height: 9.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.container-progress-bar {
  background: gray;
  width: 18%;
  height: 60%;
  position: relative;
}

.container-ball-progress-bard {
  background: rgb(152 170 236);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  bottom: 0px;
}

.container-svg-zoom-more {
  >svg {
    width: 25px;
    fill: rgb(204, 204, 204);
  }
}

.container-svg-zoom-less {
  >svg {
    width: 25px;
    fill: rgb(204, 204, 204);
  }
}

.container-seats-chosen-and-tickets {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container-seats-chosen-summary-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(102, 102, 102);
  gap: 0px;
  padding: 5px 0px;
}

.span1-seats-name-summary-order {
  font-size: 14px;
  font-weight: 600;
}

.span-seats-name-summary-order {
  width: 160px;
  text-align: right;
  line-height: 18px;
  font-size: 13px;
  font-weight: 700;
  word-break: break-all;
}


.container-tickets-payment-price-all {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 2px;
  border-top: 1px solid rgb(102, 102, 102);
}

.span-tickets-name {
  font-size: 14px;
  font-weight: 600;
}

.container-tickets-payment-price {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.container-product-bomboniere {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-top: 1px solid rgb(102, 102, 102);
}

.span-product-name {
  font-size: 14px;
  font-weight: 600;
}

.container-to-product-name-and-price-total {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.span-region-name-order-summary {
  font-size: 13px;
  color: rgb(136, 153, 170);
}

.container-day-week-hour-order-summary {
  display: flex;
  justify-content: space-between;

  >span {
    font-weight: 600;
  }
}

@media (max-width: 1400px) {
  .container-day-week-hour-order-summary {
    font-size: 13px;
  }
}

.container-clube-uol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  height: 5rem;
  background: #fff;
  border-radius: 5px;
}

.container-img-clube-uol {
  width: 100px;

  >img {
    width: 100%;
    /* height: 100%; */
  }
}

.paragraph-clube-uol {
  margin-bottom: 0px;
}

.span-clube-uol {
  color: #03A9F4;
}

.container-types-tickets {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 59rem;
  user-select: none;
}

.container-tickets {
  padding: 19px 10px;
  background: rgb(33 38 45);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.container-ticket-name-price {
  display: flex;
  gap: 8px;
}

.container-ticket {
  width: 45px;
}

.container-paragraph-and-price {
  display: flex;
  flex-direction: column;
  line-height: 20px;
  color: #fff;
}

.container-more-less {
  display: flex;
  gap: 10px;
  color: #fff;
}

.container-less-svg,
.container-more-svg {
  width: 25px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  >svg {
    width: 19px;
    pointer-events: none;
  }
}

.container-less-svg {
  background: rgb(63 71 93);
}

.container-more-svg {
  background: rgb(152, 170, 236);
}

.container-bomboniere {
  display: flex;
  /* display: none; */
  flex-direction: column;
  gap: 15px;
  width: 59rem;
  user-select: none;
  background: rgb(33 38 45);
  padding: 15px 15px;
}

.container-info-top {
  color: #fff;

  >span {
    font-weight: 600;
  }
}

.container-default {
  >button {
    background: rgb(152, 170, 236);
    border: none;
    border-radius: 35px;
    color: black;
    font-weight: 600;
  }
}

.container-all-bomboniere-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.container-item-bombienere {
  display: flex;
  height: 8rem;
}

.container-item-img {
  width: 112px;
  /* height: 120px; */
  background: rgb(152, 170, 236);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(51, 51, 51);
  width: 63%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0px 8px;
}

.span-title-1 {
  color: #fff;
  font-weight: 600;
}

.container-item-info-inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.span-title-2 {
  color: rgb(153, 153, 153);
  font-size: 12px;
}

.container-price-fee-button-more-and-less {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.container-price-fee {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.span-price {
  color: rgb(255, 153, 0);
  font-weight: 600;
}

.span-fee {
  font-size: 10px;
  color: rgb(153, 153, 153);
}

.container-less-more-chose-bomboniere {
  display: flex;
  gap: 10px;
  color: #fff;
}

.container-less-svg-chose-bomboniere,
.container-more-svg-chose-bomboniere {
  width: 25px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  >svg {
    width: 19px;
    pointer-events: none;
  }
}

.container-more-svg-chose-bomboniere {
  background: rgb(152, 170, 236);
  cursor: pointer;
}

.container-less-svg-chose-bomboniere {
  background: rgb(63 71 93);
  cursor: auto;
}

.container-payment {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 59rem;
  user-select: none;
}

.container-method-payment {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-credit-card-main,
.container-debit-card-main,
.container-pix-main,
.container-google-pay-main {
  background: rgb(33, 38, 45);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 7px 10px;

  /* Desloca 20px para baixo */
  transition: ease 1s;
  /* Transição suave */
}

.container-credit-card,
.container-debit-card,
.container-pix,
.container-google-pay {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
  cursor: pointer;
}

.container-number-card-expiration-date-security-code,
.container-number-card-expiration-date-security-code-for-debit-card,
.container-info-pix-bottom,
.container-info-bottom-google-pay-for-payment {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out 0s;
}

.container-info-bottom-google-pay-for-payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 7px;
  padding-right: 7px;
  /* padding-bottom: 15px; */
  font-size: 13px;
}

.container-pay-with-gpay {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#google-pay-button {
  color: black;
  font-weight: 500;
  padding-top: 3px;
  width: 25%;
  border: none;
  border-radius: 5px;

  >img {
    width: 17%;
    object-fit: cover;
  }
}

.container-span-two-top-part {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 7px;
  width: 98%;
  margin: 10px 0;
  font-size: 13px;
}

.span-first-top {
  >a {
    color: rgb(152, 170, 236);
    text-decoration: none;
    display: inline-block;
  }
}

.container-svg-exclamation-mark-and-span-second {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  color: rgb(255, 206, 0);
}

.container-svg-exclamation-mark-for-payment {
  >svg {
    width: 18px;
    fill: rgb(255, 206, 0);
  }
}

.container-inputs-info-card-main {
  padding-left: 7px;
  width: 98%;
}

.container-expiration-date-and-security-code {
  display: flex;
  gap: 15px;
  width: 98%;
  padding-left: 7px;
  margin-top: 5px;

  span {
    font-size: 13px;
  }
}

.container-expiration-date {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;

  >input {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0px 7px;
  }

  >input:focus {
    outline: none;
    border: 2px solid #007bff;
  }
}

.container-svg-question-mark-blue-for-payment {
  >svg {
    width: 13px;
    fill: #007bff;
  }
}

.container-security-code {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 50%;

  >input {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0px 7px;
  }

  >input:focus {
    outline: none;
    border: 2px solid #007bff;
  }
}

.container-name-card {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 98%;
  padding-left: 7px;
  margin-top: 12px;

  >span {
    font-size: 13px;
  }

  >input {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0px 7px;
  }

  >input:focus {
    outline: none;
    border: 2px solid #007bff;
  }
}

.span-payment-policies {
  font-size: 14px;
  padding-left: 7px;

  >a {
    color: rgb(152, 170, 236);
    text-decoration: none;
    display: inline-block;
  }
}

.container-span-checkbox {
  display: flex;
  width: 90%;
  gap: 5px;
  padding-left: 7px;
  margin-top: 15px;
  margin-bottom: 15px;

  >span {
    font-size: 12px;
  }
}

.container-span-security-code-and-svg-question-mask {
  display: flex;
  justify-content: space-between;
}

.container-number-card-main {
  display: flex;
  flex-direction: column;
  gap: 3px;

  >span {
    font-size: 13px;
  }

  >input {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0px 7px;
  }

  >input:focus {
    outline: none;
    border: 2px solid #007bff;
  }
}

.container-type-of-card-for-payment {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.container-card-svg {
  >svg {
    width: 25px;
  }
}

.container-pix {
  padding: 20px 7px;
}

.container-info-pix-bottom {
  font-size: 14px;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.container-svg-credit-card {
  width: 40px;
}

.container-svg-debit-card {
  width: 40px;
}

.container-svg-pix {
  width: 40px;
}

.container-svg-google-pay {
  width: 60px;
}

.container-discount-line {
  display: flex;
  align-items: center;
  gap: 10px;
}

.span-discount {
  font-size: 13px;
  color: rgb(153, 153, 153);
}

.container-line-white-discount {
  width: 100%;
  height: 1px;
  background: rgb(153, 153, 153);
  margin-top: 4px;
}

.container-clube-uol-payment {
  background: rgb(33, 38, 45);
  height: 101px;
  border-radius: 5px;
  padding: 18px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-img-clube-uol-button-arrow-down-arrow-up {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.container-img-clube-uol-payment {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 3px;

  >img {
    width: 90%;
    object-fit: cover;
  }
}

.container-svg-arrow-down-up {
  >svg {
    width: 25px;
    fill: rgb(152, 170, 236);
    transform: rotate(180deg);
  }
}

.span-subscriber-uol {
  font-size: 13px;
  color: #fff;
}

.span-know-more {
  color: rgb(0, 153, 255);
}

.container-ticket-gift-card-and-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 17px 15px;
  background: rgb(33, 38, 45);
  height: 70px;
}

.container-tickets-arrow {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.container-svg-tickets-gift-card {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(152, 170, 236);
}

.container-svg-tickets {
  width: 25px;

  >svg {
    fill: rgb(152, 170, 236);
    width: 100%;
  }
}

.container-svg-arrow-down-up-tickets-gift-card {
  width: 25px;

  >svg {
    fill: rgb(152, 170, 236);
    width: 100%;
  }
}

.span-tickers-gift-card {
  font-size: 13px;
}

.container-back-skip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  /* left: 0; */
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding: 0px 5px;
  background: rgb(52 60 70);
  z-index: 10;
}

.button-back {
  border: 2px solid rgb(102, 102, 102);
  /* border: 2px solid rgb(152, 170, 236); */
  /* color: rgb(152, 170, 236); */
  color: rgb(102, 102, 102);
  background: transparent;
  border-radius: 8px;
  padding: 9px 30px;
  font-weight: 600;

  /* solid rgb(152, 170, 236) color active */
}

.container-all-tickets-svg-1,
.container-all-tickets-svg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 100%;
}


.container-ticket-svg {
  width: 3rem;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;

  >svg {
    fill: rgb(204 204 204);
  }
}

.button-skip {
  color: rgb(33, 38, 45);
  background-image: linear-gradient(to right, rgb(255, 206, 0), rgb(255, 136, 0));
  border-radius: 8px;
  padding: 11px 30px;
  font-weight: 600;
  border: none;
}

.button-skip:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to right, rgb(255, 206, 0), rgb(255, 136, 0));
}

.container-warn-not-all-seats-were-selected {
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(21 24 25 / 63%);
  color: #fff;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-warn {
  display: flex;
  flex-direction: column;
  width: 19rem;
  height: 23rem;
}

.container-img-background-dark {
  background-image: url(https://res.cloudinary.com/dyqsqg7pk/image/upload/v1713697148/dark_cfnstp.jpg);
  background-size: contain;
  position: relative;
  width: 100%;
  height: 45%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.container-cut-img {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  background-image: -webkit-radial-gradient(50% -1px, circle cover, transparent 27px, rgb(4, 18, 24) 0px);
}

.container-svg-warn {
  position: absolute;
  left: 128px;
  top: 25px;

  >svg {
    display: block;
  }
}

.container-svg-exit-warning {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 25px;
  cursor: pointer;
}

.container-spans-and-warn-button-continue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 16px 16px 16px;
  background: rgb(4, 18, 24);
}

.container-span-ops-and-warn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.span-ops {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: rgb(255, 255, 255);
}

.span-warn {
  font-size: 13px;
}

.button-continue {
  color: rgb(33, 38, 45);
  background-image: linear-gradient(to right, rgb(255, 206, 0), rgb(255, 136, 0));
  border-radius: 8px;
  padding: 9px 30px;
  width: 9rem;
  font-weight: 700;
  border: none;
  font-size: 13px;
}

.button-continue:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(to right, rgb(255, 206, 0), rgb(255, 136, 0));
}

.svg-warning {
  display: none;
}