.container-new-user-main {
  width: 59rem;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .container-new-user-main {
    width: 80%;
  }
}

.container-info-register-buy-tecket {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.h2-register {
  font-size: 23px;
  font-weight: 600;
  color: rgb(107 107 107);
}

.p-info-buy-ticket {
  font-size: 14px;
}