.container-new-user-main {
  width: 55rem;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .container-new-user-main {
    width: 80%;
  }
}

.container-info-register-buy-tecket {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.h2-register {
  font-size: 23px;
  font-weight: 600;
  color: rgb(107 107 107);
}

.p-info-buy-ticket {
  font-size: 14px;
}

.container-name-cpf {
  display: flex;
  gap: 10px;
}

.user_name {
  width: 50%;
}

.container-password {
  display: flex;
  gap: 10px;
}

.password-register-user-custom {
  width: 51%;

}

.email-register-user-custom {
  width: 50%;
}

.user_password_confirmation {
  width: 50%;
}

.container-info-password-warn {
  display: flex;
  flex-direction: column;
}

.span-1 {
  color: black;
}

.span-2,
.span-3,
.span-4,
.span-5 {
  color: #00000054;
}

.container-check {
  display: flex;
  align-items: center;
  gap: 10px !important;
  margin-top: 10px;
}

#invalidCheck {
  width: 20px;
  height: 20px;
}

.input-checkbox {
  margin-top: 0.2rem !important;
}

.label-receive-news {
  margin-left: 10px !important;
  font-size: 14px;
}

.container-create-backlogin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  margin-top: 30px;
  gap: 10px;
}

.container-back-the-login-link {
  height: 26px;

  >a {
    /* padding: 10px; */
    padding: 13px 25px;
    background-color: white;
    border: 1px solid #058af3;
  }

  :hover {
    background-color: #0076d3;

    color: white;
  }
}

.button-continue {
  padding: 0px !important;
}

.container-button {
  background-color: rgb(215 215 215);
  width: 120px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;

  >input {
    color: white;
  }
}

.select-birthday-month {
  padding: 10px;
}

.select-birthday {
  padding: 10px;
}

.container-birth-date-custom {
  margin-bottom: 0rem !important;

  >label {
    display: none !important;
  }

  >div {
    display: flex !important;
    justify-content: flex-start !important;
    gap: 10px !important;
  }
}

.container-month {
  display: flex;
  gap: 10px;
}

.user_additional_info_user_gender {
  margin-bottom: 0rem !important;

  >label {
    display: none !important;
  }
}

#user_additional_info_user_attributes_gender {
  padding: 9px 10px !important;
  border: 1px solid #bdbdbd;
  border-left: 4px solid #bdbdbd;
  color: #494949 !important;
  cursor: pointer !important;
}

#user_additional_info_user_attributes_gender:focus {
  outline: none;
}

#user_additional_info_user_attributes_birth_date_1i {
  padding: 9px 10px !important;
  border: 1px solid #bdbdbd;
  border-left: 4px solid #bdbdbd;
  color: #494949 !important;
  cursor: pointer !important;
}

#user_additional_info_user_attributes_birth_date_1i:hover {
  outline: none;
}

#user_additional_info_user_attributes_birth_date_2i {
  padding: 9px 20px 9px 5px !important;
  border: 1px solid #bdbdbd;
  border-left: 4px solid #bdbdbd;
  color: #494949 !important;
  cursor: pointer !important;
}

#user_additional_info_user_attributes_birth_date_2i:hover {
  outline: none;
}

#user_additional_info_user_attributes_birth_date_3i {
  padding: 9px 40px 9px 5px !important;
  border: 1px solid #bdbdbd;
  border-left: 4px solid #bdbdbd;
  color: #494949 !important;
  cursor: pointer !important;
}

#user_additional_info_user_attributes_birth_date_3i:hover {
  outline: none;
}